<md-sidenav class="sidenav details-sidenav md-sidenav-right" md-component-id="details-sidenav" ms-scroll ms-sidenav-helper>
	<!-- SIDENAV HEADER -->
	<div class="header md-accent-bg" layout="column" layout-align="space-between">
		<div class="toolbar" ng-if="!$ctrl.editing" layout="row" layout-align="end center">
			<md-button class="md-icon-button" ng-click="$ctrl.delete($ctrl.file)" aria-label="Delete">
				<md-icon md-font-icon="icon-delete"></md-icon>
				<md-tooltip><span>Delete</span></md-tooltip>
			</md-button>

			<md-button class="md-icon-button" ng-click="$ctrl.download($ctrl.file)" aria-label="Download">
				<md-icon md-font-icon="icon-download"></md-icon>
				<md-tooltip><span>Download</span></md-tooltip>
			</md-button>

			<md-button class="md-icon-button" ng-click="$ctrl.editing = true" aria-label="Edit">
				<md-icon md-font-icon="icon-pencil"></md-icon>
				<md-tooltip><span>Edit</span></md-tooltip>
			</md-button>
		</div>
		<div class="toolbar" ng-if="$ctrl.editing" layout="row" layout-align="start center">
			<md-button class="md-icon-button" ng-click="$ctrl.editing = false" aria-label="Cancel">
				<md-icon md-font-icon="icon-close"></md-icon>
				<md-tooltip><span>Cancel</span></md-tooltip>
			</md-button>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="$ctrl.editing = false" aria-label="Update">
				<md-icon md-font-icon="icon-check"></md-icon>
				<md-tooltip><span>Update</span></md-tooltip>
			</md-button>
		</div>

		<div>
			<div class="title">{{$ctrl.file.name}}</div>
			<div class="subtitle secondary-text"><span>Caption</span>: {{$ctrl.file.caption}}</div>
		</div>
	</div>
	<!-- / SIDENAV HEADER -->

	<!-- SIDENAV CONTENT -->
	<md-content class="content" flex ms-scroll>

		<div class="file-details" ng-if="!$ctrl.editing">
			<div class="preview file-icon" layout="row" layout-align="center center">
				<!--<i class="icon-{{$ctrl.file.type}} s48"></i>-->
				<img ng-src="{{$ctrl.file.path_resized}}">
			</div>

			<table>
				<tr class="type">
					<th>_id</th>
					<td>{{$ctrl.file._id}}</td>
				</tr>
				<tr class="type">
					<th>Type</th>
					<td>{{$ctrl.file.type}}</td>
				</tr>

				<tr class="location">
					<th>Location</th>
					<td>
						 <md-tooltip md-direction="bottom">{{$ctrl.copyMessage}}</md-tooltip>
						 <span ngclipboard ngclipboard-success="$ctrl.copied()" data-clipboard-text="{{$ctrl.lightbox}}">{{$ctrl.file.path.substring(7)}}</span>
					</td>
				</tr>

				<tr class="topic">
					<th>Topic</th>
					<td>{{$ctrl.file.topic.name}}</td>
				</tr>

				<tr class="owner">
					<th>Owner</th>
					<td>{{$ctrl.file.owner.firstName}} {{$ctrl.file.owner.lastName}}</td>
				</tr>

				<tr class="created">
					<th>Created</th>
					<td>{{$ctrl.file.createdAt | date}}</td>
				</tr>

				<tr class="created">
					<th>Last Modified</th>
					<td>{{$ctrl.file.lastModified | date}}</td>
				</tr>
			</table>
		</div>

		<div class="file-details" ng-if="$ctrl.editing">
			<form name="fileForm" ng-submit="$ctrl.updatePicture()" autocomplete="off" novalidate>
				<md-input-container class="md-block" md-no-float>
					<input type="text" name="name" ng-model="$ctrl.file.name" placeholder="Name" required>
					<div ng-messages="fileForm.name.$error" role="alert" multiple>
						<div ng-message="required">
							<span>Name field is required</span>
						</div>
					</div>
				</md-input-container>
				<md-input-container class="md-block" md-no-float>
					<input type="text" name="caption" ng-model="$ctrl.file.caption" placeholder="Caption">
				</md-input-container>
				<md-input-container class="md-block" md-no-float>
					<md-select name="topic" ng-model="$ctrl.file.topic._id" placeholder="Select a Topic" required>
						<md-option ng-repeat="topic in $ctrl.topics" ng-value="topic._id">{{topic.name}}</md-option>
					</md-select>
					<div ng-messages="fileForm.topic.$error" role="alert" multiple>
						<div ng-message="required">
							<span>Topic field is required</span>
						</div>
					</div>
				</md-input-container>
				<md-button type="submit" class="md-raised" aria-label="Cancel" ng-click="$ctrl.editing = false">
					Cancel
				</md-button>
				<md-button type="submit" class="md-raised md-accent" aria-label="Update" ng-disabled="fileForm.$invalid">
					Update
				</md-button>
			</form>
		</div>

	</md-content>
	<!-- / SIDENAV CONTENT -->
</md-sidenav>
