<md-dialog aria-label="User Editor" style="width: 80%">
    <form name="userForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{::vm.title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancelDialog()">
                    <md-icon md-font-icon="icon-close" class="icon" aria-label="close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
				<!-- TODO update with new User Model defaults -->
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Username (email address)</label>
                    <input type="email" ng-model="vm.user.username" autocomplete="off" required>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>First Name</label>
                    <input type="text" ng-model="vm.user.firstName" autocomplete="off" required>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Last Name</label>
                    <input type="text" ng-model="vm.user.lastName" autocomplete="off" required>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="vm.cancelDialog()">
                Cancel
            </md-button>
            <md-button class="md-primary md-raised"
                ng-disabled="userForm.$invalid"
                ng-click="vm.updateUser()"
                style="margin-right:20px;">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
