<md-dialog>
	<md-dialog-content class="md-dialog-content">
		<h2 class="md-title">Question Builder</h2>
		<div class="md-dialog-content-body">
			<form name="testBuilder">
				<h3>How many questions would you like to do?</h3>
				<md-input-container class="numQuestions-input">
					<label>Max of {{$ctrl.metadata.questions.length > 50 ? '50' : $ctrl.metadata.questions.length}}</label>
					<input ng-model="$ctrl.numQuestions" name="numQuestions" type="number" step="1" max="{{$ctrl.metadata.questions.length > $ctrl.numQuestions ? '50' : $ctrl.metadata.questions.length}}" min="1" required>
					<div ng-messages="testBuilder.numQuestions.$error">
						<div ng-message="required">This is required.</div>
						<div ng-message="max">There must be less than {{$ctrl.metadata.questions.length > $ctrl.numQuestions ? '50' : $ctrl.metadata.questions.length}} questions.</div>
						<div ng-message="min">There must at least 1 question.</div>
					</div>
				</md-input-container>
				<p>
					<b>What type of questions would you like?</b>
				</p>
				<div class="testBuilder-switches">
					<div layout="row" layout-align="start center">
						<span>Unseen questions</span>
						<span flex></span>
						<md-switch ng-model="$ctrl.unseen" aria-label="Unseen questions">{{$ctrl.numUnseen}} out of {{$ctrl.metadata.unseen.length}}</md-switch>
					</div>
					<div layout="row" layout-align="start center">
						<span>Previously incorrectly answered questions</span>
						<span flex></span>
						<md-switch ng-model="$ctrl.seenIncorrect" aria-label="Seen incorrect questions">{{$ctrl.numSeenIncorrect}} out of {{$ctrl.metadata.seenIncorrect.length}}</md-switch>
					</div>
					<div layout="row" layout-align="start center">
						<span>Previously correctly answered questions</span>
						<span flex></span>
						<md-switch ng-model="$ctrl.seenCorrect" aria-label="Seen correct questions">{{$ctrl.numSeenCorrect}} out of {{$ctrl.metadata.seenCorrect.length}}</md-switch>
					</div>
				</div>
			</form>
		</div>
	</md-dialog-content>
	<md-dialog-actions>
		<md-button ng-click="$ctrl.cancel()">Cancel</md-button>
		<md-button class="md-raised md-accent" ng-click="$ctrl.startTest()">Start Test</md-button>
	</md-dialog-actions>
</md-dialog>
