<div id="query" class="page-layout carded left-sidenav" layout="row">
	<!-- TOP BACKGROUND -->
	<div class="top-bg md-accent-bg"></div>
	<!-- / TOP BACKGROUND -->
	<!-- LEFT SIDENAV -->
	<md-sidenav class="sidenav query-sidenav" md-is-locked-open="$mdMedia('gt-md')" md-component-id="main-sidenav" ms-scroll ms-sidenav-helper>
		<!-- SIDENAV CONTENT -->
		<md-content class="content" flex ms-scroll>
			<div class="navigation-simple" layout="column">
				<md-button class="tag item" aria-label="Select {{topic.name}}" ng-repeat="topic in $ctrl.topicsFiltered" ng-click="$ctrl.onTopicSelected(topic)" ng-class="[{'selected':topic._id===$ctrl.selectedTopic._id}]">
					<md-icon md-font-icon="icon-label" class="s16"></md-icon>
					<span class="title">{{topic.name}} ({{topic.questionCount}})</span>
				</md-button>
			</div>
		</md-content>
		<!-- / SIDENAV CONTENT -->
	</md-sidenav>
	<!-- / LEFT SIDENAV -->
	<!-- CENTER -->
	<div class="center" layout="column" flex>
		<!-- CONTENT HEADER -->
		<div class="header" layout="row" layout-align="start center">
			<div class="md-whiteframe-4dp" flex layout="row" layout-align="start center" style="background-color:#fff;">
				<md-button class="md-raised md-primary" ng-click="$ctrl.toggleSidenav('main-sidenav')" aria-label="Toggle sidenav">
					Choose Topic
				</md-button>
				<md-chips ng-model="$ctrl.selected" readonly="true" md-removable="true" hide-xs>
					<md-chip-template>
						<p>{{$chip.name}}</p>
					</md-chip-template>
				</md-chips>
				<span flex></span>
				<md-button class="md-raised md-accent" ng-hide="$ctrl.selected.length === 0" ng-click="$ctrl.selectQuestions($event)" aria-label="Start Test">
					Start Questions
					<md-icon md-font-icon="icon-arrow-right-bold" class="icon"></md-icon>
				</md-button>
			</div>
		</div>
		<!-- / CONTENT HEADER -->
		<!-- CONTENT CARD -->
		<div id="toastBounds" class="content-card" layout="column" flex>
			<!-- CONTENT -->
			<div class="content" layout="row" flex style="padding: 0px;">
				<!-- Todo list pane -->
				<md-content flex layout-padding ms-scroll ng-cloak>
					<md-content layout="column" flex ng-if="$ctrl.selectedTopic._id">
						<div layout="row" layout-align="start center">
							<md-icon md-font-icon="icon-bookmark-outline" class="icon"></md-icon>
							<h1>{{$ctrl.selectedTopic.name}}</h1>
							<span flex></span>
							<md-button style="width:25%;" class="md-raised md-accent" ng-click="$ctrl.toggleAll()">{{$ctrl.toggleText ? 'Remove' : 'Add'}} All</md-button>
						</div>
						<md-list>
							<md-list-item class="category-option" style="padding:2px;" ng-repeat="category in $ctrl.categories | orderBy:'name' track by category._id" layout="row" layout-align="center start" layout-wrap>
								<div class="selected" ng-if="$ctrl.selectedIds.includes(category._id)"></div>
								<div class="md-item-text md-whiteframe-z1" ng-click="$ctrl.toggleSelector(category)" md-ink-ripple flex>
									<h3>{{category.name}} ({{category.questionCount}})</h3>
								</div>
								<div class="selected-icon" ng-if="$ctrl.selectedIds.includes(category._id)">&#10004;</div>
							</md-list-item>
						</md-list>
					</md-content>
					<md-content layout="column" flex ng-if="!$ctrl.selectedTopic._id">
						<h1>Please select a topic:</h1>
						<md-list>
							<md-list-item class="category-option" style="padding:2px;" ng-repeat="topic in $ctrl.topicsFiltered | orderBy:'name'" layout="row" layout-align="center start" layout-wrap>
								<div class="md-item-text md-whiteframe-z1" ng-click="$ctrl.onTopicSelected(topic)" md-ink-ripple flex>
									<h3>{{topic.name}} ({{topic.questionCount}})</h3>
								</div>
							</md-list-item>
						</md-list>
					</md-content>
				</md-content>
				<!-- / Todo list pane -->
			</div>
			<!-- / CONTENT -->
		</div>
		<!-- / CONTENT CARD-->
	</div>
	<!-- / CENTER -->
</div>
