<md-dialog aria-label="Feedback" style="width: 80%">
	<form name="feedbackForm">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Feedback</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="vm.cancelDialog()">
					<md-icon md-font-icon="icon-close" class="icon" aria-label="close"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content">
				<md-input-container class="md-block" flex-gt-sm>
                    <label>Subject</label>
                    <input type="text" ng-model="vm.subject" autocomplete="off" required>
                </md-input-container>
				<md-input-container class="md-block">
					<label>How can we help?</label>
					<textarea ng-model="vm.messageBody" rows="5" md-select-on-focus></textarea>
				</md-input-container>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="vm.cancelDialog()">
				Cancel
			</md-button>
			<md-button class="md-primary md-raised" ng-disabled="userForm.$invalid" ng-click="vm.sendFeedback()" style="margin-right:20px;">
				Send
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
