<div id="reset-password" class="flex-scrollable" layout="column" ms-scroll>
    <div id="reset-password-form-wrapper" layout="column" layout-align="center center">
        <div id="reset-password-form" class="md-whiteframe-8dp">
            <div class="logo md-accent-bg">
                <span>Q</span>
            </div>
            <div class="title">Reset your password</div>
            <form name="resetPasswordForm" ng-submit="vm.reset()" novalidate>
                <md-input-container class="md-block" md-no-float>
                    <input type="email" name="email" ng-model="vm.form.email" placeholder="Email address" ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="resetPasswordForm.email.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Email field is required</span>
                        </div>
                        <div ng-message="pattern">
                            <span>Email must be a valid e-mail address</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password" ng-model="vm.form.password" placeholder="Password" required>
                    <div ng-messages="registerForm.password.$error" role="alert">
                        <div ng-message="required">
                            <span>Password field is required</span>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="passwordConfirm" ng-model="vm.form.passwordConfirm" placeholder="Password (Confirm)" required>
                    <div ng-messages="resetPasswordForm.passwordConfirm.$error" role="alert">
                        <div ng-message="required">
                            <span>Password (Confirm) field is required</span>
                        </div>
                    </div>
                </md-input-container>
                <md-button type="submit" class="md-raised md-accent submit-button" aria-label="UPDATE MY PASSWORD" ng-disabled="resetPasswordForm.$invalid || resetPasswordForm.$pristine || vm.form.password !== vm.form.passwordConfirm">
                    RESET MY PASSWORD
                </md-button>
            </form>
        </div>
    </div>
</div>
