.lightbox {
	border: 3px solid #000;
	border-radius: 3px;
	display: block;
	overflow: hidden;
	position: relative;
	float: left;

	background-color: transparent;

	> img {
		-webkit-transition: -webkit-transform 0.15s ease 0s;
		-moz-transition: -moz-transform 0.15s ease 0s;
		-o-transition: -o-transform 0.15s ease 0s;
		transition: transform 0.15s ease 0s;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
		width: 100%;
	}
}

a.lightbox:after {
	opacity: 0;
}

a.lightbox:hover:after {
	content: '';
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	background: black;
	opacity: 0.3;
}

a.lightbox:hover {
	> img {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1);
	}
}
