$score-1: #e82e48;
$score-3: #ffd964;
$score-5: #41e932;
$correct: rgb(25, 190, 56);
$incorrect: rgb(196, 43, 65);

.page-layout.carded.left-sidenav {
	.sidenav .content {
		padding: 0 0 5px;

		.md-button {
			padding: 0 15px;
		}
	}
}

.quiz-progress-bar {
	border-radius: 3px;
	height: 5px;
	width: 95%;
	border-radius: 3px;

	&.progress-bar-incomplete {
		margin: 5px;
		background: rgba(23,0,56,.2);
	}

	.progress-bar-inset {
		-o-transition: width 0.6s ease;
		-webkit-transition: width 0.6s ease;
		transition: width 0.6s ease;

		&.progress-bar-green {
			background-color: $score-5;
		}

		&.progress-bar-amber {
			background-color: $score-3;
		}

		&.progress-bar-red {
			background-color: $score-1;
		}
	}

}

.question-progress {
	background: #fff;
	margin: 10px;

	h3 {
		margin: 5px;
	}

	.md-bar {
		background-color: #0091ea;
	}
}

.page-layout.carded.left-sidenav > .sidenav.md-locked-open {
	background: #FFFFFF;
	background-color: #FFFFFF;
}

.sidenav {
	.navigation-simple {
		.completed {
			background-color: rgba(0, 145, 235, 0.2);
		}

		.correct {
			background-color: rgba($score-5, 0.2);
		}

		.unsure {
			background-color: rgba($score-3, 0.2);
		}

		.incorrect {
			background-color: rgba($score-1, 0.2);
		}
	}
}

.content-card {
	i {
		font-size: inherit;
		width: inherit;
		height: inherit;
		min-width: inherit;
		min-height: inherit;
		line-height: inherit;
	}
	border-radius: 15px 15px 0 0;

	.test-text {
		font-size: 15px;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.button-show-answer {
		width: 100%;
		max-width: 350px;
		text-align: center;
	}

	.section-letter {
		margin: 0;
	}

	.question-explanation.ng-enter {
		animation: fadeInUp 0.5s;
	}

	.question-card {
		.choices-list {
			width: 100%;

			md-list-item {
				border: solid;
				border-width: 1px;
				border-color: #d3d3d3;

				md-radio-button {
					margin-bottom: 0;
				}
			}

			.correct {
				background-color: $correct;

				md-radio-button {
					color: #fff;
				}
			}

			.incorrect {
				background-color: $incorrect;

				md-radio-button {
					color: #fff;
				}
			}
		}

		.answer-stats.ng-enter {
			animation: fadeInRight 0.5s;
		}

		.answer-stats {
			width: 100%;
			margin-left: 15px;
			padding: 0 20px;

			.progress {
				height: 20px;
				width: 100%;
				overflow: hidden;
				background-color: #f5f5f5;
				border-radius: 4px;
				-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
				box-shadow: inset 0 1px 2px rgba(0,0,0,.1);

				.progress-bar {
					float: left;
					width: 0;
					height: 100%;
					font-size: 12px;
					line-height: 20px;
					color: #fff;
					text-align: center;
					// background-color: #337ab7;
					-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
					box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
					-webkit-transition: width 0.6s ease;
					-o-transition: width 0.6s ease;
					transition: width 0.6s ease;
				}

				.correct {
					background-color: $correct;
				}

				.incorrect {
					background-color: $incorrect;
				}
			}
		}
	}

	.recall-card {
		.recall-score {
			text-align: center;
			padding-bottom: 20px;

			h2 {
				text-align: left;
			}

			button {
				border-radius: 5px;
				width: 40px;
				height: 40px;
				min-width: 40px;
				min-height: 40px;
			}

			.selected {
				display: block;
				position: absolute;
				right: -20px;
				top: -20px;
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
				height: 40px;
				width: 40px;
				background: #0A78FF;
				box-shadow: 0 0 5px rgba(0,0,0,.4);

			}

			.selected-icon {
				color: #fff;
				display: block;
				position: absolute;
				height: 10px;
				width: 10px;
				top: -8px;
				right: 3px;
				left: auto;
				z-index: 2;
				font-size: 10px;
			}

			.score-1 {
				background-color: $score-1;
			}

			.score-2 {
				background-color: $score-1;
			}

			.score-3 {
				background-color: $score-3;
			}

			.score-4 {
				background-color: $score-5;
			}

			.score-5 {
				background-color: $score-5;
			}
		}

		hr {
			width: 100%;
		}
	}
}

.md-dialog-content {
	h2 {
		font-size: 24px;
	}

	li,
	p {
		font-size: 16px;
	}
}
