<div id="admin" class="page-layout carded left-sidenav" layout="row">
    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->
    <!-- CENTER -->
    <div class="center" layout="column" flex>
        <!-- CONTENT HEADER -->
        <div class="header" layout="row" layout-align="start center">
            <div class="search-wrapper md-whiteframe-4dp" flex layout="row" layout-align="start center">
                <div class="search" flex layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-magnify" class="icon s24"></md-icon>
                    <input flex ng-model="$ctrl.search" type="text" name="text" placeholder="Add a category" ng-keypress="$ctrl.submitCategory($event)" autocomplete="off">
                </div>
                <md-button class="md-icon-button sidenav-toggle" ng-hide="$ctrl.search.length === 0" ng-click="$ctrl.addCategory()" aria-label="Add Category">
                    <md-icon md-font-icon="icon-plus" class="icon"></md-icon>
                </md-button>
            </div>
        </div>
        <!-- / CONTENT HEADER -->
        <!-- CONTENT CARD -->
        <div class="content-card" layout="column" flex>
            <!-- CONTENT TOOLBAR -->
            <div id="toastBounds" class="toolbar" layout="row" layout-align="space-between center">
                <md-toolbar class="md-table-toolbar md-default">
                    <div class="md-toolbar-tools">
                        <span>Category Manager</span>
                        <span flex></span>
                        <md-select class="toolbar-select" ng-model="$ctrl.selectedTopic._id" placeholder="Select Topic">
                            <md-option ng-repeat="topic in $ctrl.topics" ng-value="topic._id" ng-click="$ctrl.onTopicSelected(topic)">{{topic.name}}</md-option>
                        </md-select>
                    </div>
                </md-toolbar>
            </div>
            <!-- / CONTENT TOOLBAR -->
            <!-- CONTENT -->
            <div class="content" layout="row" flex style="padding: 0px;">
                <!-- Todo list pane -->
                <md-content id="list-pane" class="todo-list-pane" flex ms-scroll="$ctrl.msScrollOptions">
					<admin-simple-list
						items="$ctrl.categories"
						edit-dialog="$ctrl.editCategory(event, item)"
						delete-dialog="$ctrl.deleteConfirm(event, item)">
					</admin-simple-list>
                </md-content>
                <!-- / Todo list pane -->
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARDb-->
    </div>
    <!-- / CENTER -->
</div>
