<md-dialog id="recallDialog" aria-label="Question Editor" style="width: 100%">
    <form name="questionForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{::vm.title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancelDialog()">
                    <md-icon md-font-icon="icon-close" class="icon" aria-label="close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container style="cursor:pointer;" ngclipboard ngclipboard-success="vm.copied()" data-clipboard-text="{{vm.recall._id}}" class="md-block" ng-if="vm.recall._id" flex-gt-sm>
                    <md-tooltip md-direction="bottom">{{vm.copyMessage}}</md-tooltip>
					<label style="cursor:pointer;">_id</label>
                    <input style="cursor:pointer;" type="text" ng-model="vm.recall._id" readonly>
                </md-input-container>
                <div class="notes">
                    <label>Question</label>
                    <text-angular ng-model="vm.recall.question"></text-angular>
                </div>
				<br />
                <div class="notes">
                    <label>Explanation</label>
                    <text-angular ng-model="vm.recall.explanation"></text-angular>
                </div>
                <br />
                <select size="10" multiple ng-multiple="true" ng-model="vm.recall.category" ng-options="c as c.name for c in vm.categories">
                </select>
                <md-chips ng-model="vm.recall.category" md-transform-chip="vm.createCategory($chip)">
                    <md-autocomplete
						md-search-text="vm.categorySearch"
						md-items="item in vm.querySearch(vm.categorySearch, vm.categories)"
						md-item-text="item.name"
						md-min-length="2"
						placeholder="Add a Category">
                        <span md-highlight-text="vm.categorySearch">{{item.name}}</span>
						<md-not-found>
							<a ng-click="vm.createCategory(vm.categorySearch)">Not found, create category?</a>
						</md-not-found>
                    </md-autocomplete>
                    <md-chip-template>
                        <span>
                        <strong>{{$chip.name}}</strong>
                        </span>
                    </md-chip-template>
                </md-chips>
				<br />
				<md-autocomplete
					md-selected-item="vm.recall.concept"
					md-search-text="vm.conceptSearch"
					md-items="item in vm.querySearch(vm.conceptSearch, vm.concepts)"
					md-item-text="item.name"
					md-min-length="2"
					placeholder="Would you like to add a Concept?">
					<md-item-template>
						<span md-highlight-text="vm.conceptSearch" md-highlight-flags="i">{{item.name}}</span>
					</md-item-template>
					<md-not-found>
						No concepts matching {{vm.conceptSearch}} were found.
						<a ng-click="vm.addConcept(vm.conceptSearch)">Create a new one!</a>
					</md-not-found>
				</md-autocomplete>
				<br />
				<md-autocomplete
					md-selected-item="vm.recall.linked_question"
					ng-model-options="{ debounce: 500 }"
					md-search-text="vm.questionSearch"
					md-items="item in vm.queryQuestions(vm.questionSearch)"
					md-item-text="item._id"
					md-min-length="2"
					md-menu-class="question-autocomplete"
					placeholder="Would you like to link to a Question?">
					<md-item-template>
						<span class="_id">_id: {{item._id}}</span>
						<span class="text" md-highlight-text="vm.questionSearch" md-highlight-flags="i">{{item.question | htmlToPlainText}}</span>
					</md-item-template>
				</md-autocomplete>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="vm.cancelDialog()">
                Cancel
            </md-button>
            <md-button class="md-primary md-raised" ng-disabled="questionForm.$invalid || (vm.selectedCategories.length === 0) || (vm.recall.question.length === 0) || (vm.recall.explanation.length === 0)" ng-click="vm.saveRecall()" style="margin-right:20px;">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
