.appointment-form-divider {
	padding: 5px 0;
	margin: 20px 0;
}

.radio-inline {
	float: left;
	padding-right: 20px;
}

.add-points {
	.nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
		fill-opacity: 1;
		stroke-opacity: 1;
	}
}
