<div id="patient-viewer" class="page-layout carded left-sidenav" layout="row">
	<!-- TOP BACKGROUND -->
	<div class="top-bg md-accent-bg"></div>
	<!-- / TOP BACKGROUND -->
	<md-button ng-if="$ctrl.selectedIndex === 0" class="md-fab md-accent add-fab" aria-label="Add Appointment" ng-click="$ctrl.addAppointment($event)">
		<md-tooltip md-direction="top">Add Appointment</md-tooltip>
		<md-icon md-font-icon="icon-plus" class="icon s24"></md-icon>
	</md-button>
	<!-- CENTER -->
	<div class="center" flex ms-scroll>
		<!-- HEADER -->
		<div class="header" layout="column" layout-align="space-between">
			<div layout="column" layout-align="start start">
				<span class="md-display-1 font-weight-300">{{$ctrl.patient.lastName}}, {{$ctrl.patient.firstName}}</span>
				<span class="md-subhead">Patient Number: {{$ctrl.patient.patientNumber}}</span>
				<span class="md-subhead">NHS Number: {{$ctrl.patient.NHSnumber}}</span>
			</div>
		</div>
		<!-- / HEADER -->
		<!-- CONTENT -->
		<div class="content">
			<md-tabs md-dynamic-height md-border-bottom md-selected="$ctrl.selectedIndex" style="background:#fff;">
				<md-tab label="Appointments">
					<!-- CONTENT CARD -->
					<div class="content-card" layout="column" flex>
						<!-- CONTENT TOOLBAR -->
						<div id="toastBounds" class="toolbar" layout="row" layout-align="space-between center">
							<md-toolbar class="md-table-toolbar md-default" ng-if="$ctrl.options.rowSelection && !$ctrl.selected.length">
								<div class="md-toolbar-tools">
									<span>Appointments</span>
									<span flex></span>
									<md-button class="md-raised" ng-click="$ctrl.exportAppointments()">
										<md-icon md-font-icon="icon-export" class="icon" aria-label="export"></md-icon> Export
									</md-button>
								</div>
							</md-toolbar>
							<md-toolbar class="md-table-toolbar alternate" ng-if="$ctrl.options.rowSelection && $ctrl.selected.length">
								<div class="md-toolbar-tools">
									<md-button class="md-icon-button" ng-click="$ctrl.selected = []">
										<md-icon md-font-icon="icon-close" aria-label="close" class="icon" style="color: white;"></md-icon>
									</md-button>
									<span>{{$ctrl.selected.length}} {{$ctrl.selected.length > 1 ? 'apointments' : 'appointment'}} selected</span>
									<span flex></span>
									<md-button class="md-raised" ngclipboard ng-click="$ctrl.clinicLetter($event, $ctrl.selected[0])">
										<md-icon md-font-icon="icon-content-paste" class="icon" aria-label="letter"></md-icon> Letter
									</md-button>
									<md-button class="md-raised" ng-click="$ctrl.editAppointment($event, $ctrl.selected[0])" ng-if="$ctrl.selected.length === 1">
										<md-icon md-font-icon="icon-pencil" class="icon" aria-label="edit"></md-icon> Edit
									</md-button>
									<md-button class="md-raised" ng-click="$ctrl.deleteConfirm($event, $ctrl.selected[0])">
										<md-icon md-font-icon="icon-delete" class="icon" aria-label="delete"></md-icon> Delete
									</md-button>
								</div>
							</md-toolbar>
						</div>
						<!-- / CONTENT TOOLBAR -->
						<!-- CONTENT -->
						<div class="content" layout="row" flex style="padding: 0px;">
							<!-- Todo list pane -->
							<md-content id="list-pane" class="todo-list-pane" flex ms-scroll>
								<md-content layout="column" flex ng-cloak>
									<md-table-container>
										<table md-table md-row-select="$ctrl.options.rowSelection" ng-model="$ctrl.selected" multiple="false" md-progress="$ctrl.promise">
											<thead md-head md-order="$ctrl.query.order">
												<tr md-row>
													<th md-column md-order-by="clinicDate" md-desc><span>Clinic Date</span></th>
													<th md-column>Weight</th>
													<th md-column>BMI</th>
													<th md-column>ALSFRS-R</th>
													<th md-column><span>ESS</span></th>
													<th md-column><span>FVC Sitting</span></th>
													<th md-column><span>FVC Supine</span></th>
													<th md-column><span>SNP</span></th>
													<th md-column><span>SpO2</span></th>
													<th md-column><span>ABG</span></th>
												</tr>
											</thead>
											<tbody md-body>
												<tr md-row md-select="appointment" md-auto-select="$ctrl.options.autoSelect" ng-repeat="appointment in $ctrl.patient.appointments | orderBy: $ctrl.query.order | limitTo: $ctrl.query.limit : ($ctrl.query.page -1) * $ctrl.query.limit track by appointment._id">
													<td md-cell>{{appointment.clinicDate | date:'dd/MM/yy'}}</td>
													<td md-cell>{{appointment.weight | number:1}}</td>
													<td md-cell>{{appointment.bmi | number:1}}</td>
													<td md-cell>{{appointment.alsfrs.total | number:0}}</td>
													<td md-cell>{{appointment.ess.total | number:0}}</td>
													<td md-cell>{{appointment.fvc.sitting | number:0}}</td>
													<td md-cell>{{appointment.fvc.supine | number:0}}</td>
													<td md-cell>{{appointment.snp.score | number:0}}</td>
													<td md-cell>{{appointment.spO2 | number:0}}</td>
													<td md-cell>{{appointment.abg.pH ? 'true' : 'false'}}</td>
													</td>
												</tr>
											</tbody>
										</table>
									</md-table-container>
									<md-table-pagination md-limit="$ctrl.query.limit" md-limit-options="$ctrl.query.limitOptions" md-page="$ctrl.query.page" md-on-paginate="$ctrl.pageChange()" md-total="{{$ctrl.patient.appointments.length}}" md-page-select="$ctrl.options.pageSelector" md-boundary-links="$ctrl.options.boundaryLinks"></md-table-pagination>
								</md-content>
							</md-content>
							<!-- / Todo list pane -->
						</div>
						<!-- / CONTENT -->
					</div>
					<!-- / CONTENT CARD-->
				</md-tab>
				<md-tab label="Graphs">
					<!-- CONTENT CARD -->
					<div class="widget-group" layout="column" style="padding-bottom:5%;" layout-padding flex>
						<md-button ng-click="$ctrl.refreshGraphs()"><md-icon md-font-icon="icon-refresh" class="icon" aria-label="export"></md-icon> Refresh</md-button>
						<ms-widget layout="column">
							<ms-widget-front class="white-bg">
								<div class="ph-8 pv-16 h-55" layout="row" layout-align="space-between center">
									<h1>Weight Graph</h1>
								</div>
								<nvd3 class="h-400 remove-x-lines remove-opacity" options="$ctrl.graphOptionsWeight" data="$ctrl.graphDataWeight" api="$ctrl.graphApiWeight" config="{deepWatchData: false}"></nvd3>
							</ms-widget-front>
						</ms-widget>
						<ms-widget layout="column">
							<ms-widget-front class="white-bg">
								<div class="ph-8 pv-16 h-55" layout="row" layout-align="space-between center">
									<h1>ESS Graph</h1>
								</div>
								<nvd3 class="h-400 remove-x-lines remove-opacity add-points" options="$ctrl.graphOptionsEss" data="$ctrl.graphDataEss" api="$ctrl.graphApiEss" config="{deepWatchData: false}"></nvd3>
							</ms-widget-front>
						</ms-widget>
						<ms-widget layout="column">
							<ms-widget-front class="white-bg">
								<div class="ph-8 pv-16 h-55" layout="row" layout-align="space-between center">
									<h1>FVC Graph</h1>
								</div>
								<nvd3 class="h-400 remove-x-lines remove-opacity add-points" options="$ctrl.graphOptionsFvc" data="$ctrl.graphDataFvc" api="$ctrl.graphApiFvc" config="{deepWatchData: false}"></nvd3>
							</ms-widget-front>
						</ms-widget>
						<ms-widget layout="column">
							<ms-widget-front class="white-bg">
								<div class="ph-8 pv-16 h-55" layout="row" layout-align="space-between center">
									<h1>SpO2 Graph</h1>
								</div>
								<nvd3 class="h-400 remove-x-lines remove-opacity add-points" options="$ctrl.graphOptionsSpO2" data="$ctrl.graphDataSpO2" api="$ctrl.graphApiSpO2" config="{deepWatchData: false}"></nvd3>
							</ms-widget-front>
						</ms-widget>
					</div>
					<!-- / CONTENT CARD-->
				</md-tab>
			</md-tabs>
		</div>
		<!-- / CONTENT -->
	</div>
</div>
<appointment-dialog patient-id="$ctrl.patient._id" appointment="$ctrl.selected[0]"></appointment-dialog>
